/* IMPORTANT FILE. DO NOT REMOVE. */

@font-face {
  font-family: Inter;
  src: local("Inter"),
    url(./assets/Inter-VariableFont_slnt\,wght.ttf) format("truetype");
}

* {
  margin: 0px;
  padding: 0px;
  font-family: Inter;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;

  /* Primary Colors */
  --black: #000000;
  --white: #ffffff;
  --blue-600: #2a4df6;
  --red-500: #ef4444;
  --yellow-500: #f59e0b;
  --green-500: #22c55e;

  /* Secondary Colors */
  --blue-200: #c6e4fb;
  --red-200: #fecaca;
  --yellow-200: #fde68a;
  --green-200: #bbf7d0;

  /* Neutral Colors */
  --neutral-50: #f8fafc;
  --neutral-100: #f1f5f9;
  --neutral-200: #e2e8f0;
  --neutral-300: #cbd5e1;
  --neutral-400: #94a3b8;
  --neutral-500: #64748b;
  --neutral-600: #475569;
  --neutral-700: #334155;
  --neutral-800: #1e293b;
  --neutral-900: #0f172a;

  --shadow-small: 0px 0px 1px rgba(15, 23, 42, 0.06),
    0px 4px 6px -1px rgba(15, 23, 42, 0.1),
    0px 2px 4px -1px rgba(15, 23, 42, 0.06);

  --shadow-default: 0px 0px 1px rgba(15, 23, 42, 0.06),
    0px 10px 15px -3px rgba(15, 23, 42, 0.1),
    0px 4px 6px -2px rgba(15, 23, 42, 0.05);

  --shadow-large: 0px 0px 1px rgba(15, 23, 42, 0.06),
    0px 20px 25px -5px rgba(15, 23, 42, 0.1),
    0px 10px 10px -5px rgba(15, 23, 42, 0.04);

  --speed-fast: 100ms;
  --speed-slow: 250ms;
  --delay: 50ms;
  --timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.h1 {
  font-family: Inter;
  font-style: normal;
  font-variation-settings: "wght" 800;
  font-size: 48px;
  line-height: 56px;
  /* identical to box height, or 117% */
}

.h2 {
  font-family: Inter;
  font-style: normal;
  font-variation-settings: "wght" 800;
  font-size: 34px;
  line-height: 40px;
  /* identical to box height, or 118% */
}

.h3 {
  font-family: Inter;
  font-style: normal;
  font-variation-settings: "wght" 500;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */
  letter-spacing: 0.02em;
}

.h4 {
  font-family: Inter;
  font-style: normal;
  font-variation-settings: "wght" 500;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */
  letter-spacing: 0.02em;
}

.h5 {
  font-family: Inter;
  font-style: normal;
  font-variation-settings: "wght" 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */
  letter-spacing: 0.02em;
}

.h6 {
  font-family: Inter;
  font-style: normal;
  font-variation-settings: "wght" 500;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
  letter-spacing: 0.02em;
}

.p1 {
  font-family: Inter;
  font-style: normal;
  font-variation-settings: "wght" 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  letter-spacing: 0.02em;
}

.p2 {
  font-family: Inter;
  font-style: normal;
  font-variation-settings: "wght" 400;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
  letter-spacing: 0.02em;
}
