.attendance-wrapper {
    transition: var(--speed-slow) var(--timing-function);
}

.attendance-rect {
    width: 320px;
    height: 320px;
    border-radius: 12px;
    background: var(--neutral-50);
    display: flex;
    flex-direction: column;
    color: var(--neutral-800);
    box-shadow: var(--shadow-small);
    transition: var(--speed-slow) var(--timing-function);
}

.low {
    transform: translateY(344px);
}

.title {
    margin-top: 24px;
    margin-left: 32px;
    color: var(--neutral-600);
}

.title-seperator {
    width: auto;
    height: 1px;
    background: var(--neutral-300);
    margin-top: 8px;
    margin-left: 24px;
    margin-right: 24px;
}

.full-pie-chart {
    position: relative;
    display: inline-block;
    height: 150px;
    margin-top: 28px;
    align-self: center;
}

.pie-chart {
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 1;
    transition: 250ms cubic-bezier(0.215,0.61,0.355,1);
}

.pie-chart-blur {
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 2;
    opacity: 75%;
    filter: blur(8px);
}

.legend {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.absent-legend {
    margin-left: 48px;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.absent-text {
    color: var(--neutral-400);
}
.absent-value {
    color: var(--neutral-800);
}

.absent-text::before {
    display: inline-block;
    margin-bottom: -2.5px;
    margin-right: 4px;
    content:'';
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background: var(--red-500);
}

.present-legend {
    margin-left: 86px;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.present-text {
    color: var(--neutral-400);
}
.present-value {
    color: var(--neutral-800);
}

.present-text::before {
    display: inline-block;
    margin-bottom: -2.5px;
    margin-right: 4px;
    content:'';
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background: var(--green-500);
}