.page-rect {
    background: var(--neutral-100);
    width: 1600px;
    display: flex;
    flex-direction: column;
}

.hello-text{
    margin-left: 48px;
    margin-top: 64px;
    color: var(--neutral-600);
}

.cards {
    margin-top: 56px;
    margin-left: 48px;
    display: grid;
    /* Had to hardcode this. Do change if a better method found. */
    grid-template-columns: 560px 560px 320px; 
    gap: 24px;
}

.empty-div {
    z-index: 0;
}