.revenue-wrapper {
    transition: var(--speed-slow) var(--timing-function);
}

.revenue-rect {
    width: 320px;
    height: 180px;
    border-radius: 12px;
    background: var(--neutral-50);
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--neutral-600);
    box-shadow: var(--shadow-small);
    transition: var(--speed-slow) var(--timing-function);
}

.revenue-amount {
    margin-top: 24px;
    color: var(--neutral-800);
}