.scorecard-rect {
    width: 560px;
    height: 320px;
    border-radius: 12px;
    background: var(--neutral-50);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--neutral-800);
    box-shadow: var(--shadow-small);
}

.your-score-text {
    margin-top: 48px;
}

.score-text{
    margin-top: 16px;
}

.empty-div {
    flex: 1;
}

.history-btn {
    width: 256px;
    height: 50px;
    border-radius: 25px;
    border: 1px solid var(--neutral-700);
    color: var(--neutral-700);
    display: flex;
    align-items: center;
    margin-bottom: 36px;
    transition: color var(--speed-slow) var(--tansition-function);
}

.score-history-text {
    margin-left: 56px;
    margin-right: 12px;
    user-select: none;
}

.arrow {
    overflow: hidden;
    transition: transform var(--speed-slow) var(--tansition-function);
    transition-delay: 100ms;
}

#arrowtail {
    transform: rotateY(90deg);
    transition: transform var(--speed-slow) var(--tansition-function);
    transition-delay: 100ms;
    transform-origin: right;
    transform-box: fill-box;
}

.history-btn:hover {
    cursor: pointer;
    color: var(--neutral-600);
    border-color: var(--neutral-600);
}

.history-btn:hover #arrowtail {
    cursor: pointer;
    animation: taillong var(--speed-slow) var(--tansition-function) var(--delay);
    transform: rotateY(0deg);
    transform-box: fill-box;
    transform-origin: right;
}

.history-btn:hover .arrow {
    transform: translateX(8px);
    transition-delay: var(--delay);
}

@keyframes taillong{
    from {
        transform: rotateY(90deg);
    }
    to {
        transform: rotateY(0deg);
    }
}