.bar-rect {
  padding: 0px 64px;
  height: 96px;
  background-color: var(--neutral-800);
  color: var(--neutral-400);
  display: flex;
}

.empty-div {
  flex: 1;
}

.side {
  display: flex;
  align-items: center;
}

.scorify {
  width: 0%;
  color: var(--neutral-200);
  padding-left: 8px;
  transition: 250ms cubic-bezier(0.215, 0.61, 0.355, 1);
  overflow: hidden;
}

.logo-with-text {
  width: 144px;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.scorify:hover,
.logo:hover + .scorify {
  width: 70%;
  margin-right: 32px;
  cursor: pointer;
}

.link {
  margin: 0px 8px;
  padding: 8px;
  transition: 250ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.profile {
  width: 48px;
  height: 48px;
  margin-left: 16px;
  border-radius: 24px;
  border: 2px solid var(--neutral-400);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.profile-photo {
  /* Change this later to 48 by 48 */
  width: 32px;
  height: 32px;
}

.link:hover,
.profile:hover,
.logo:hover {
  cursor: pointer;
  color: var(--neutral-200);
}
