.contact-rect {
  background: var(--neutral-100);
  width: 1600px;
  height: 1080px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  color: var(--neutral-700);
}

.contact-text-wrapper {
    margin-top: 72px;
    display: flex;
    color: var(--neutral-900);
}

.all-dev-wrapper {
    margin-top: 72px;
    display: flex;
    flex-direction: row;
}
.dev-wrapper {
    padding: 0px 36px;
    display: flex;
    border-left: 1px dashed var(--neutral-300);
    flex-direction: column;
    color: var(--neutral-700);
}

.dev-details {
    margin-top: 8px;
    color: var(--neutral-500);
}

.dev-location {
    margin-top: 42px;
    color: var(--neutral-700);
}

.contact-people-svg {
    margin-bottom: 24px;
}