.personal-page-rect {
  background: var(--neutral-100);
  width: 1600px;
  height: 1080px;
  position: absolute;
  left: 320px;
  overflow: hidden;
  color: var(--neutral-800);
}

.grid-right {
  color: var(--neutral-300);
  position: absolute;
  width: 364px;
  height: 496px;
  left: 1220px;
  top: 16px;
}

.grid-left {
  color: var(--neutral-300);
  position: absolute;
  width: 320px;
  height: 672px;
  left: 23px;
  top: 392px;
}

.profile-card {
  width: 1158px;
  height: 564px;
  box-shadow: var(--shadow-large);
  background: var(--neutral-50);
  color: var(--neutral-700);
  border-radius: 12px;
  position: relative;
  display: flex;
  left: 221px;
  top: 258px;
}

.left-side {
  padding-left: 48px;
  padding-top: 48px;
  padding-right: 32px;
  border-right: 1px dashed var(--neutral-300);
  outline: none;
  border-radius: 12px 0 0 12px;
  transition: all var(--speed-fast) var(--timing-function) var(--delay);
}

.name {
  margin-bottom: 42px;
  width: 420px;
  display: flex;
}

.field-name {
  color: inherit;
  background: var(--neutral-50);
  outline: none;
  border: none;
  cursor: text;
  font-family: Inter;
  font-style: normal;
  font-variation-settings: "wght" 800;
  font-size: 48px;
  line-height: 56px;
  /* identical to box height, or 117% */
}

.field{
  color: inherit;
  background: var(--neutral-50);
  outline: none;
  border: none;
  cursor: text;

  font-family: Inter;
  font-style: normal;
  font-variation-settings: "wght" 700;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */
  letter-spacing: -0.02em;
}

.detail-grid {
  display: grid;
  grid-template-columns: 140px 1fr;
  grid-template-rows: repeat(3, 56px);
  row-gap: 28px;
  column-gap: 108px;
  width: 559px;
}

.detail-title {
  color: var(--neutral-400);
}

.address-text {
  width: 559px;
  resize: none;

  font-family: Inter;
  font-style: normal;
  font-variation-settings: "wght" 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  letter-spacing: 0.02em;
}

.address {
  margin-top: 28px;
}

.phno {
  width: 220px;
}

.email {
  width: 314px;
}

.cross {
    color: var(--red-500);
    margin-left: 32px;
    cursor: pointer;
    transition: all var(--speed-fast) var(--timing-function) var(--delay);
}

.right-side {
  width: 519px;
}

.stats-top-wrapper {
  display: flex;
  flex-direction: row;
  margin-top: 32px;
  margin-left: 32px;
  padding-bottom: 32px;
  border-bottom: 1px dashed var(--neutral-300);
}

.department-div {
  margin-left: 96px;
}

.stats-bottom-wrapper {
  margin-top: 32px;
  margin-left: 32px;
  display: grid;
  grid-template-columns: 176px 1fr;
  grid-template-rows: repeat(2, 56px);
  row-gap: 28px;
  column-gap: 96px;
}

.edit-details-text {
  margin-left: 32px;
}

.edit-details-btn {
  grid-column: span 2;
  width: 256px;
  height: 50px;
  border-radius: 25px;
  border: 1px solid var(--neutral-700);
  color: var(--neutral-700);
  display: flex;
  align-items: center;
  margin-top: 100px;
  margin-left: 100px;
  margin-bottom: 36px;
  transition: var(--speed-slow) var(--timing-function);
}

.inverted-arrow {
  margin-left: 24px;
  overflow: hidden;
  transition: transform var(--speed-slow) var(--timing-function);
  transition-delay: 100ms;
  transform: rotateZ(180deg);
}

.edit-details-btn:hover {
  cursor: pointer;
  color: var(--neutral-600);
  border-color: var(--neutral-600);
}

#inverted-arrowtail {
  transform: rotateY(90deg);
  transition: transform var(--speed-slow) var(--timing-function);
  transition-delay: 100ms;
  transform-origin: right;
  transform-box: fill-box;
}

.edit-details-btn:hover #inverted-arrowtail {
  cursor: pointer;
  animation: taillong var(--speed-slow) var(--timing-function) var(--delay);
  transform: rotateY(0deg);
  transform-box: fill-box;
  transform-origin: right;
}

.edit-details-btn:hover .inverted-arrow {
  transform: translateX(-8px) rotateZ(180deg);
  transition-delay: var(--delay);
}

.save-btn {
  width: 256px;
  height: 50px;
  border-radius: 25px;
  border: 1px solid var(--neutral-700);
  color: var(--neutral-700);
  display: flex;
  align-items: center;
  margin-bottom: 36px;
  transition: var(--speed-slow) var(--timing-function);
  padding: 16px;
  margin-top: 100px;
  margin-left: 100px;
}

.save-text {
  margin-left: 68px;
}

.save-btn:hover {
  cursor: pointer;
  color: var(--neutral-600);
  border-color: var(--neutral-600);
}

.save-btn:hover #arrowtail {
  cursor: pointer;
  animation: taillong var(--speed-slow) var(--timing-function) var(--delay);
  transform: rotateY(0deg);
  transform-box: fill-box;
  transform-origin: right;
}

.save-btn:hover .arrow {
  transform: translateX(8px);
  transition-delay: var(--delay);
}
